.Form {
  display: inline-grid;
  justify-items: center;
}

.Inputs {
  align-items: center;
  padding: 5%;
  /* padding: 15px; */
  /* text: */
  font-size: 12px;
  width: 80%;
  /* width: 600px; */
  /* margin: 50px; */
  padding-top: 40px;
  border: 1px solid lightgray;
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* altura das linhas: */
  grid-auto-rows: 150%;
  /* espaço entre um elemento interno e outro: */
  grid-gap: 1px 18px;
  /* margem interna que afasta os elementos da borda do grid: */
  /* padding: 20px 10px; */
}

.Boxes {
  justify-items: center;
  align-items: center;
  font-size: 50%;
  /* font-size: 15px; */
  /* margin-top: 20px; */
  display: flex;
  width: 90%;
  /* margin: auto; */
  justify-content: center;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* align-items: center; */
}

.Box {
  background: rgb(255, 94, 0);
  margin: 10px;
  /* flex: 0; */
  padding: 10px;
  border: 1px solid white;
  /* flex-basis: 20%; */
}

/* ABAIXO = INPUT FLUTUANTE: */

.input {
  text-align: center;

  width: 100%;
  position: relative;
  font-size: 16px;
  color: #5b5b5b;
  border: 1px green solid;
  box-sizing: content-box;
  /* z-index: 1; */
}

.label-nome {
  /* width: 100%; */
  /* position: absolute; */
  position: relative;
  visibility: hidden;

  color: rgb(108, 0, 197);
  font-weight: bold;
  top: -35%;
  transition: 0.1s;
}

.input:focus + .label-nome {
  visibility: visible;
  /* margin-top: 0px; */
  top: -70%;
  /* z-index: 2; */
  transition: 0.3s;
  color: rgb(243, 220, 11); /* teste */
}
