.Inputs {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* altura das linhas: */
  grid-auto-rows: 100px;
  /* espaço entre um elemento interno e outro: */
  grid-gap: 1px 18px;
  /* margem interna que afasta os elementos da borda do grid: */
  /* padding: 20px 10px; */

  /* text: */
  font-size: 15px;
  width: 600px;
  /* margin: 0 auto; */
  /* padding-top: 40px; */
}

/* ABAIXO = INPUT FLUTUANTE: */

.meu-box {
  position: relative;
}

.input {
  width: 100%;
  position: relative;
  /* font-size: 16px; */
  color: #5b5b5b;
  border: 1px green solid;
  /* padding: 10px 10px 10px 15px; */
  box-sizing: content-box;
  /* z-index: 1; */
}

.label-nome {
  width: 100%;
  /* position: absolute; */
  position: relative;
  visibility: hidden;

  color: rgb(108, 0, 197);
  font-weight: bold;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.1s;
}

.input:focus + .label-nome {
  visibility: visible;
  margin-top: 0px;
  top: -70%;
  /* z-index: 2; */
  transition: 0.2s;
  color: rgb(243, 220, 11); /* teste */
}
